@import 'layout/fonts';
@import 'sass/variables';
@import 'layout/base';

@import 'blocks/header';
@import 'blocks/team';
@import 'blocks/head';
@import 'blocks/features';
@import 'blocks/reviews';
@import 'blocks/scroller';
