@charset "UTF-8";
@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 16px;
  height: 100%; }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 16px; } }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style-type: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 58.75rem;
  min-width: 20rem;
  margin: 0 auto; }
  .container--features {
    justify-content: center; }
  .container--form {
    align-items: center;
    justify-content: center; }

.title {
  font-family: 'gagalin', sans-serif;
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.75rem; } }
  .title--gray {
    color: #2f3234; }
  .title--intro {
    margin-bottom: 0.4375rem; }
  .title--team {
    margin-bottom: 2.875rem; }
  .title--menu {
    color: #ffffff;
    padding-top: 6.9375rem;
    padding-left: 6.375rem; }
  .title--form {
    margin-bottom: 1.5625rem; }

.section {
  height: 100vh;
  min-height: 650px; }

.btn {
  display: inline-block;
  height: 2.1875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-radius: 0.3125rem;
  background-color: #e45028;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 2.1875rem; }

input,
textarea {
  outline: none;
  border: solid 0.125rem transparent; }
  input:hover, input:active, inputfocus,
  textarea:hover,
  textarea:active,
  textareafocus {
    border: solid 0.125rem #f9b43b; }

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.head {
  width: 100%;
  background: url(../img/background.jpg) center center/cover no-repeat;
  padding-top: 0.8125rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .header {
      position: absolute;
      top: 0;
      left: 0; } }

.header__logo {
  width: 5.75rem;
  height: 4.3125rem;
  margin-right: 4.3125rem; }

.header__menu {
  width: 42.5rem;
  font-family: 'Ubuntu', sans-serif; }

.header__menu-list {
  list-style-type: circle; }

.header__menu-item {
  display: inline-block;
  margin-right: 0.75rem; }
  .header__menu-item:after {
    color: #ffffff;
    content: '•';
    padding-left: 0.6875rem; }
  .header__menu-item:last-child {
    margin-right: 0; }
    .header__menu-item:last-child:after {
      content: '';
      padding-left: 0; }

.header__menu-link {
  font-size: 0.8125rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.header__order-btn {
  margin-left: 0.4375rem; }

.btn:hover {
  background-color: #c1401e; }

.team {
  position: relative;
  background: url(../img/team.jpg) center center/cover no-repeat; }

.team__content {
  padding-top: 7.0625rem;
  padding-left: 6.0625rem;
  padding-right: 6.125rem;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(44, 47, 49, 0.9); }
  @media screen and (max-width: 768px) {
    .team__content {
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.accordeon__link {
  color: #f9b43b; }

.accordeon__item--active .accordeon__item-description {
  height: 6.25rem;
  margin-bottom: 2.5rem; }

.accordeon__link {
  font-family: 'Gagalin', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 1.0625rem;
  padding-left: 1.875rem;
  position: relative; }
  .accordeon__link:before {
    content: '';
    position: absolute;
    top: 0.375rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0.4375rem solid transparent;
    border-right: 0.4375rem solid transparent;
    border-top: 0.4375rem solid #f9b43b; }

.accordeon__item--active .accordeon__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0.4375rem solid transparent;
  border-left: 0.4375rem solid transparent;
  border-right: 0.4375rem solid transparent;
  border-bottom: 0.4375rem solid #f9b43b; }

.accordeon__item-description {
  display: flex;
  justify-content: flex-start;
  height: 0;
  overflow: hidden; }

.accordeon__item-text {
  width: 13rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff; }

.accordeon__item-title {
  font-weight: 500; }

.accordeon__item-img {
  flex-shrink: 0;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.3125rem; }

.accordeon__item-pic {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.menu {
  background: url(../img/menu.jpg) center center/cover no-repeat;
  position: relative; }

.menu__accordeon {
  display: flex;
  min-width: 15rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0; }

.menu__accordeon-item {
  display: flex;
  min-width: 5rem;
  height: 100%;
  overflow: hidden; }
  .menu__accordeon-item--activ {
    width: 33.75rem; }

.menu--meat {
  background: url(../img/menu1.jpg) center center/cover no-repeat; }

.menu--veg {
  background: url(../img/menu2.jpg) center center/cover no-repeat; }

.menu--diet {
  background: url(../img/menu3.jpg) center center/cover no-repeat; }

.menu__accordeon-top {
  background-color: rgba(62, 60, 60, 0.8);
  min-width: 5rem;
  position: relative; }

.menu__accordeon-title {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform-origin: 0 0;
  color: #ffffff;
  font-size: 2.5rem;
  transform: rotate(-90deg) translateY(-50%);
  white-space: nowrap; }

.menu__accordeon-hide {
  display: block;
  justify-content: center;
  background-color: rgba(62, 60, 60, 0.7);
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-top: 2.1875rem;
  color: #ffffff;
  overflow: hidden;
  width: 0; }

.menu__accordeon-item--active .menu__accordeon-hide {
  width: 33.75rem; }

.menu__accordeon-item--active .menu__accordeon-title {
  color: #f9b43b; }

.menu__accordeon-text {
  padding-left: 24px; }

.head__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .head__content {
      flex-direction: column;
      justify-content: center; } }

.head__content-pic {
  max-width: 100%;
  max-height: 100%; }

.head__content-text {
  padding-top: 8%; }

.head__content-description {
  font-family: 'Lifehack', sans-serif;
  font-size: 3.4375rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1em;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .head__content-description {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.head__content-word {
  display: block; }

.head__triangle {
  display: block;
  width: 1.8125rem;
  height: 0.875rem;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto; }

.head__triangle-pic {
  max-width: 100%;
  max-height: 100%; }

.features {
  background: url(../img/best_bg.jpg) center no-repeat;
  background-size: cover; }

.features__title {
  margin: 0 auto;
  margin-bottom: 2.5625rem; }

.features__list {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 480px) {
    .features__list {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.features__item {
  width: 17.8125rem; }
  @media screen and (max-width: 480px) {
    .features__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%; } }

.features__item-icon {
  width: 6.0625rem;
  height: 5.5625rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.0625rem; }
  @media screen and (max-width: 480px) {
    .features__item-icon {
      flex-shrink: 0;
      margin-right: 1.75rem; } }

.features__item-pic {
  max-width: 100%;
  max-height: 100%; }

.features__item-title {
  font-family: 'Lifehack', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #2f3234;
  margin-bottom: 0.875rem; }
  @media screen and (max-width: 480px) {
    .features__item-title {
      text-align: left; } }

.features__item-text {
  opacity: 0.8;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  color: rgba(47, 50, 52, 0.8); }
  @media screen and (max-width: 480px) {
    .features__item-text {
      text-align: left; } }

.reviews {
  font-size: 0; }

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }

.reviews__item {
  position: relative;
  width: 25%;
  height: 50vh;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25vh; } }

.reviews__pic {
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  filter: grayscale(100%); }

.reviews__item-description {
  background-color: rgba(68, 70, 70, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s; }

.reviews__item-content {
  padding: 0 2.0625rem 0 1.25rem; }

.reviews__item-title {
  font-family: 'Gagalin', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1.875rem; }

.reviews__item-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1.0625rem; }

.reviews__item-button {
  display: block;
  text-align: center;
  width: 6.875rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  background-color: #2f3234;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.1875rem;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

.reviews__item-button:hover {
  background-color: #1f2122; }

.reviews__item:hover .reviews__item-description {
  opacity: 1; }

.order {
  background: url(../img/order.jpg) center center/cover no-repeat;
  display: flex;
  justify-content: center; }

.order__form {
  display: flex;
  justify-content: space-between;
  width: 58.75rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff; }
  @media screen and (max-width: 480px) {
    .order__form {
      width: 28.75rem; } }

.order__form-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1875rem; }

.order__form-houseline {
  display: flex;
  justify-content: space-between; }

.order__form-street {
  display: block;
  margin-bottom: 1.1875rem; }

.order__form-text {
  width: 28.8125rem;
  border-radius: 0.625rem; }

.order__form-inputname {
  width: 13.75rem;
  height: 2.25rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem #d1cfcb; }

.order__form-inputstreet {
  width: 28.75rem;
  height: 2.25rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem #d1cfcb; }

.order__form-inputhouse {
  width: 6.25rem;
  height: 2.25rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem #d1cfcb; }

.order__form-textarea {
  width: 28.75rem;
  height: 6.875rem;
  border-radius: 0.3125rem;
  border: solid 0.0625rem #d1cfcb;
  margin-bottom: 0.375rem; }

.order__form-radio {
  display: none; }
  .order__form-radio:not(:checked) + .order__form-circleradio:before {
    display: none; }
  .order__form-radio:checked + .order__form-circleradio:before {
    display: block; }

.order__form-circleradio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 0.625rem; }

.order__form-circleradio:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #e35028; }

.order__form-rest {
  margin-right: 1.25rem;
  cursor: pointer; }

.order__form-radi .order__form-checkboxline {
  margin-bottom: 1.25rem; }

.order__form-nocallinput {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5625rem; }

.order__form-nocall {
  display: block;
  margin-top: 1.8125rem; }

.btn--order {
  width: 6.0625rem;
  margin-top: 0.875rem;
  margin-right: 1.25rem; }

.order__form-nocallinput {
  display: none; }
  .order__form-nocallinput:checked + .order__form-arrowcheckbox:before {
    display: block; }

.order__form-nocall {
  cursor: pointer; }

.order__form-arrowcheckbox {
  vertical-align: middle;
  background-color: #ffffff;
  border: solid 0.0625rem #d1cfcb;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-right: 0.5625rem; }

.order__form-arrowcheckbox:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icons/arrowcheckbox.png) center center no-repeat; }

.map {
  background: url(../img/map.jpg) center center/cover no-repeat;
  position: relative; }

.footer {
  width: 100%;
  min-height: 3.75rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #151515;
  display: flex;
  flex: 1;
  align-items: center; }

.map__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 58.75rem; }

.footer__contacts {
  width: 50%; }

.footer__social {
  text-align: right;
  width: 50%; }

.footer__contacts-adress, .footer__contacts-phone {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff; }

.footer__contacts-phone {
  display: block;
  font-weight: bold;
  color: #e45028; }

.footer__social-pic {
  max-width: 1.4375rem;
  max-height: 1.25rem;
  fill: #ffffff;
  fill-opacity: 0.3; }
  .footer__social-pic:hover {
    fill-opacity: 1; }

.footer__social-link {
  margin-right: 1.25rem; }
  .footer__social-link:last-child {
    margin-right: 0; }

.scroller {
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 10; }

.scroller__list {
  list-style-type: none;
  padding-top: 0.625rem;
  margin-right: -0.875rem; }

.scroller__item {
  margin-bottom: 0.3125rem; }

.scroller__link {
  display: block;
  width: 1rem;
  height: 1rem;
  border: solid 0.0625rem transparent;
  border-radius: 50%;
  position: relative; }
  .scroller__link--active {
    border: solid 0.0625rem #ffffff; }

.scroller__link-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #ffffff;
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
