html {
  font-size: 16px;
  height: 100%;

  @include phones-small {
    font-size: 14px;
  }
}

body {
  font-size: rem(16);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}

.body-active-menu {
  overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;

  &>li {
    list-style-type: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: rem(940);
  min-width: rem(320);
  margin: 0 auto;

  &--features {
    justify-content: center;
  }

  &--slider {
    position: relative;
    justify-content: center;
  }

  &--form {
    align-items: center;
    justify-content: center;

    @include phones {
      width: rem(460);
    }
  }

  @include tablets {
    width: 95%;
  }
}

.title {
  font-family: 'gagalin', sans-serif;
  color: $yellow;
  font-size: rem(72);
  font-weight: normal;
  letter-spacing: normal;
  margin: 0;

  @include phones {
    font-size: rem(50);
  }

  @include phones-small {
    font-size: rem(45);
  }

  &--gray {
    color: $gray;
  }

  &--intro {
    margin-bottom: rem(7);

    @include tablets {
      text-align: center;
    }

  }

  &--team {
    margin-bottom: rem(46);

    @include phones-small {
      margin-bottom: rem(30);
    }
  }

  &--menu {
    color: $white;
    padding-top: rem(111);
    padding-left: rem(102);
  }

  &--form {
    margin-bottom: rem(25);
    text-align: center;

    @include phones-small {
      margin-bottom: 0;
    }
  }

  &--slider {
    color: $white;
    line-height: 4.5rem;
    margin-bottom: rem(56);
    @include tablets {
      width: rem(342);
      text-align: center;
      line-height: 1.1;
    }

    @include phones {
      margin-bottom: 0;
    }
  }

  &--price {
    color: #e35028;
  }

  &--currency {
    color: #e35028;
    font-size: rem(28);
    margin-right: rem(29);
  }

  &--icon {
    font-size: rem(14);
    color: $white;
    opacity: 0.5;
  }
  &--iconinclude {
    font-size: rem(14);
    color: $white;
  }

  &--kkal {
    position: absolute;
    font-size: 20px;
    color: $white;
    opacity: 0.5;

    @include phones-small {
      left: 11%;
    }
  }

}

.section {
  height: 100vh;
  min-height: 650px;

  @include phones {
    min-height: initial;
  }

  @include phones-small {
    min-height: initial;
  }
}

.btn {
  display: inline-block;
  height: rem(35);
  padding-left: rem(15);
  padding-right: rem(15);
  border-radius: rem(5);
  background-color: $red;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(13);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  line-height: rem(35);

  &--slider {
    vertical-align: baseline;

  }
}

input,
textarea {
  outline: none;
  border: solid rem(2) transparent;

  &:hover,
  &:active,
  &focus {
    border: solid rem(2) $yellow;
  }

  @include phones {
    flex: 1;
  }
}