html,
body {
  height: 100;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;

  &>li {
    list-style-type: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 940px;
  min-width: 320px;
  margin: 0 auto;

  &--features {
    justify-content: center;
  }

  &--form {
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-family: 'gagalin', sans-serif;
  color: $yellow;
  font-size: 72px;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0;

  &--gray {
    color: $gray;
  }

  &--intro {
    margin-bottom: 7px;
  }

  &--team {
    margin-bottom: 46px;
  }

  &--menu {
    color: $white;
    padding-top: 111px;
    padding-left: 102px;
  }

  &--form {
    margin-bottom: 25px;
  }
}


.section {
  height: 100vh;
  min-height: 650px;
}

.btn {
  display: inline-block;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: $red;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  line-height: 35px;
}

input,
textarea {
  outline: none;
  border: solid 2px transparent;

  &:hover,
  &:active,
  &focus {
    border: solid 2px $yellow;
  }
}
