html {
  font-size: 16px;
  height: 100%;

  @include tablets {
    font-size: 16px;
  }

  @include phones-small {
    font-size: 14px;
  }
}

body {
  font-size: rem(16);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;

  &>li {
    list-style-type: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: rem(940);
  min-width: rem(320);
  margin: 0 auto;

  &--features {
    justify-content: center;
  }

  &--form {
    align-items: center;
    justify-content: center;

    @include phones {
      width: rem(460);
    }
  }
}

.title {
  font-family: 'gagalin', sans-serif;
  color: $yellow;
  font-size: rem(72);
  font-weight: normal;
  letter-spacing: normal;
  margin: 0;

  @include phones {
    font-size: rem(60);
  }

  &--gray {
    color: $gray;
  }

  &--intro {
    margin-bottom: rem(7);
    text-align: center;
  }

  &--team {
    margin-bottom: rem(46);
  }

  &--menu {
    color: $white;
    padding-top: rem(111);
    padding-left: rem(102);
  }

  &--form {
    margin-bottom: rem(25);
    text-align: center;
  }
}


.section {
  height: 100vh;
  min-height: 650px;
}

.btn {
  display: inline-block;
  height: rem(35);
  padding-left: rem(15);
  padding-right: rem(15);
  border-radius: rem(5);
  background-color: $red;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(13);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  line-height: rem(35);
}

input,
textarea {
  outline: none;
  border: solid rem(2) transparent;

  &:hover,
  &:active,
  &focus {
    border: solid rem(2) $yellow;
  }

  @include phones {
    flex: 1;
  }
}