.features {
  background: url(../img/best_bg.jpg) center no-repeat;
  background-size: cover;
}

.features__title {
  width: rem(385);
  margin: 0 auto;
  margin-bottom: rem(41);
}

.features__list {
  display: flex;
  justify-content: space-around;

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features__item {
  width: rem(285);

  @include phones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}

.features__item-icon {
  width: rem(97);
  height: rem(89);
  margin: 0 auto;
  text-align: center;
  margin-bottom: rem(33);

  @include phones {
    flex-shrink: 0;
  }
}

.features__item-pic {
  max-width: 100%;
  max-height: 100%;
}


.features__item-title {
  font-family: 'Lifehack', sans-serif;
  font-size: rem(24);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $gray;
  margin-bottom: rem(14);

  @include phones {
    text-align: left;

  }
}

.features__item-text {
  opacity: 0.8;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.71;
  color: rgba(47, 50, 52, 0.8);

  @include phones {
    text-align: left;
  }
}