.head__content {
position: relative;
}

.head__content-img {
  position: absolute;
  top: -4px;
  left: 19px;
}

.head__content-pic {
  max-width: 100%;
  max-height: 100%;
}

.head__content-text {
  position: absolute;
  top: 124px;
  right: 49px;

  .head__content-description {
    font-family: 'Lifehack', sans-serif;
    font-size: 65px;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    letter-spacing: -1.6px;
    color: $white;
  }
}
.title--intro {
  margin-bottom: 7px;
}

.head__triangle {
  display: block;
  width: 29px;
  height: 14px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.head__triangle-pic {
  max-width: 29px;
  max-height: 14px;
}