.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head {
  width: 100%;
  background: url(../img/background.jpg) center center / cover no-repeat;
  padding-top: rem(13);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: rem(92);
  height: rem(69);
  margin-right: rem(69);
}

.header__menu {
  width: rem(680);
  font-family: 'Ubuntu', sans-serif;
}

.header__menu-list {
  list-style-type: circle;
}

.header__menu-item {
  display: inline-block;
  margin-right: rem(12);

  &:after {
    color: $white;
    content: '•';
    padding-left: rem(11);
  }

  &:last-child {
    margin-right: 0;

    &:after {
      content: '';
      padding-left: 0;
    }
  }
}

.header__menu-link {
  font-size: rem(13);
  font-weight: 500;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}

.header__order-btn {
  margin-left: rem(7);
}

.btn:hover {
  background-color: #c1401e;
}