.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head {
  width: 100%;
  background: url(../img/background.jpg) center center / cover no-repeat;
  padding-top: rem(13);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header__logo {
  width: rem(92);
  height: rem(69);
  margin-right: rem(69);
}

.header__menu {
  width: rem(680);
  font-family: 'Ubuntu', sans-serif;

  @include tablets {
    display: none;
  }
}

.header__menu-list {
  list-style-type: circle;
}

.header__menu-item {
  display: inline-block;
  margin-right: rem(12);

  &:after {
    color: $white;
    content: '•';
    padding-left: rem(11);
  }

  &:last-child {
    margin-right: 0;

    &:after {
      content: '';
      padding-left: 0;
    }
  }
}

.header__menu-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(13);
  font-weight: 500;
  font-style: normal;
  line-height: 2.31;
  letter-spacing: normal;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}

.header__order-btn {
  margin-left: rem(7);

  @include tablets {
    margin-right: rem(30);
  }
}

.btn:hover {
  background-color: #c1401e;
}

.header__hamburger {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: rem(24);
  height: rem(22);
  cursor: pointer;
  display: none;
  background: transparent;
  border: none;

  @include tablets {
    display: flex;
  }
}

.header__hamburger-item {
  height: rem(4);
  width: rem(24);
  border-radius: rem(5);
  background-color: $white;
  margin-bottom: rem(4);

}

.header__hamburger-modal {
  padding-top: rem(13);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2f3234;
  z-index: 30;
  display: none;
}

.hamburger__modal--active {
  display: block;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header-logo {
  width: rem(92);
  height: rem(69);
}


.modal__header-logopic {
  max-width: 100%;
  max-height: 100%;
}

.header__modal-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__modal-menu .header__menu-item {
  display: block;
  margin-right: 0;
  text-align: center;

  &:after {
    display: block;
    padding-left: 0;
  }
}

.header__modal-menu .header__menu-link {
  font-size: rem(24);
  &:hover {
    text-decoration: underline;
  }
}

