.intro__main {
  display: flex;
  justify-content: space-between;
  min-height: 510px;

  .intro__main-block {
    position: relative;
    width: 940px;

    .intro__img {
      position: absolute;
      top: -3px;
      left: 19px;

      .intro__pic {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .intro__slogan {
      position: absolute;
      top: 135px;
      right: 48px;

      .title--intro {
        @extend .title;
        color: $yellow;
        margin-bottom: 15px;
      }

      .intro__slogan-second {
        font-family: 'Lifehack', sans-serif;
        font-size: 65px;
        font-weight: 500;
        font-style: normal;
        line-height: 1em;
        letter-spacing: -1.6px;
        color: $white;
      }
    }
  }
}

.intro__main-menu {
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 10;

  .intro__menu-list {
    list-style-type: none;
    padding-top: 10px;
    margin-right: -14px;

    .intro__menu-item {
      margin-bottom: 5px;

      .intro__link {
        display: block;
        width: 16px;
        height: 16px;
        border: solid 1px transparent;
        border-radius: 50%;
        position: relative;

        &--active {
          border: solid 1px $white;
        }

        .intro__link-circle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 6px;
          height: 6px;
          background-color: $white;
          border-radius: 50%;
        }
      }
    }
  }
}

.intro__triangle {
  width: 29px;
  margin: 0 auto;
}