.map {
  background: url(../img/map.jpg) center center / cover no-repeat;
  position: relative;
}

.footer {
  width: 100%;
  min-height: rem(60);
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #151515;
  display: flex;
  flex: 1;
  align-items: center;
}

.map__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: rem(940);

  @include phones {
    flex-direction: column;
  }
}

.footer__contacts {
  width: 50%;
  @include phones {
    width: 100%;
  }
}

.footer__social {
  text-align: right;
  width: 50%;

  @include phones {
    width: 100%;
    text-align: center;
  }
}

.footer__contacts-adress {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  @include phones {
    text-align: center;
  }
}

.footer__contacts-phone {
  display: block;
  @extend .footer__contacts-adress;
  font-weight: bold;
  color: #e45028;

  @include phones {
    margin-bottom: 10px;
  }
}

.footer__social-pic {
  max-width: rem(23);
  max-height: rem(20);
  fill: $white;
  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 1;
  }
}

.footer__social-link {
  margin-right: rem(20);

  &:last-child {
    margin-right: 0;
  }
}