.map {
  background: url(../img/map.jpg) center center / cover no-repeat;
  position: relative;
}

.footer {
  width: 100%;
  min-height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #151515;
  display: flex;
  flex: 1;
  align-items: center;
}

.map__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 940px;
}

.footer__contacts {
  width: 50%;
}

.footer__social {
  text-align: right;
  width: 50%;
}

.footer__contacts-adress {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer__contacts-phone {
  display: block;
  @extend .footer__contacts-adress;
  font-weight: bold;
  color: #e45028;
}

.footer__social-pic {
  max-width: 23px;
  max-height: 20px;
  fill: $white;
  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 1;
  }
}

.footer__social-link {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}