.menu {
  background: url(../img/menu.jpg) center center / cover no-repeat;
  position: relative;
}

.menu__accordeon {
  display: flex;
  min-width: rem(240);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.menu__accordeon-item {
  display: flex;
  min-width: rem(80);
  height: 100%;
  overflow: hidden;
  &--activ {
    width: rem(540);
  }
}

.menu--meat {
  background: url(../img/menu1.jpg) center center / cover no-repeat;
}

.menu--veg {
  background: url(../img/menu2.jpg) center center / cover no-repeat;
}

.menu--diet {
  background: url(../img/menu3.jpg) center center / cover no-repeat;
}


.menu__accordeon-top {
  background-color: rgba($color: #3e3c3c, $alpha: 0.8);
  min-width: rem(80);
  position: relative;
}

.menu__accordeon-title {
  position: absolute;
  bottom: rem(40);
  left: 50%;
  transform-origin: 0 0;
  color: $white;
  font-size: rem(40);
  transform: rotate(-90deg) translateY(-50%);
  white-space: nowrap;
}

.menu__accordeon-hide {
  display: block;
  justify-content: center;
  background-color: rgba($color: #3e3c3c, $alpha: 0.7);
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  line-height: rem(24);
  padding-top: rem(35);
  color: $white;
  overflow: hidden;
  width: 0;
  @include tablets {
    
  }
}

.menu__accordeon-item--active .menu__accordeon-hide {
  width: rem(540);
  @include phones {
    width: 10.90rem;
  }
}

.menu__accordeon-item--active .menu__accordeon-title {
  color: $yellow;
}


.menu__accordeon-text {
  padding-left: rem(24);
}
