.order {
  background: url(../img/order.jpg) center center / cover no-repeat;
  display: flex;
  justify-content: center;
}

.order__form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  max-width: rem(940);
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  @include tablets {
    flex-direction: column;
    max-width: 70%;
  }

  @include phones {
    max-width: 90%;
    flex-direction: column;
  }
}

.order__form-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(19);
}

.order__form-street {
  display: block;
  margin-bottom: rem(19);

}

.order__form-houseline {
  display: flex;
  justify-content: space-between;

  @include tablets {
    margin-bottom: rem(10);
  }

  @include phones {
    margin-right: rem(-24);
  }
}

.order__form-text {
  width: 50%;
  border-radius: rem(10);
  margin-right: rem(20);

  @include tablets {
    margin-right: 0;
    width: 100%;
  }

  @include phones-small {
    margin-right: 0;
  }
}

.order__form-line {
  flex: 1;
}

.order__form-nameline {
  margin-right: rem(24);
}

.order__input {
  width: 100%;
  height: rem(36);
  border-radius: rem(5);
  border: solid rem(2) transparent;
}

.order__form-houselineblock {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

@include phones {
  .order__form-houselineblock {
    width: 29%;
  }
}

@include phones {
  .order__form-stage {
    display: none;
  }
}

@include phones {
  .order__form-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.order__form-checkbox {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.order__input-textarea {
  height: rem(110);
  margin-bottom: rem(6);
}

.order__form-textareablock {
  width: 100%;
}

@include phones {
  .order__form-checkboxline {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
}

.order__form-radio {
  display: none;

  &:not(:checked)+.order__form-circleradio:before {
    display: none;
  }

  &:checked+.order__form-circleradio:before {
    display: block;
  }
}

.order__form-circleradio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  background-color: $white;
  margin-right: rem(10);
}

.order__form-circleradio:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(8);
  height: rem(8);
  border-radius: 50%;
  background-color: #e35028;
}

.order__form-rest {
  margin-right: rem(20);
  cursor: pointer;

  @include phones {
    margin-right: 0;
  }
}

.order__form-radi .order__form-checkboxline {
  margin-bottom: rem(20);
}

.order__form-nocallinput {
  width: rem(16);
  height: rem(16);
  margin-right: rem(9);
}

.order__form-nocall {
  display: block;
  margin-top: rem(29);

  @include phones {
    margin: 0;
    margin-top: rem(10);
  }
}


.order__form-nocallinput {
  display: none;

  &:checked+.order__form-arrowcheckbox:before {
    display: block;
  }
}

.order__form-nocall {
  cursor: pointer;
}

.order__form-arrowcheckbox {
  vertical-align: middle;
  background-color: $white;
  border: solid rem(1) #d1cfcb;
  display: inline-block;
  width: rem(16);
  height: rem(16);
  position: relative;
  margin-right: rem(9);
}

.order__form-arrowcheckbox:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icons/arrowcheckbox.png) center center no-repeat;
}

.order__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(380);
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 1, 0.5);
  background-color: $white;
  padding: rem(20) rem(14) rem(20) rem(14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order__modal-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  color: #2f3234;
  margin-bottom: rem(17);
  text-align: center;
}

.modal__open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 50, 52, 0.9);
  display: none;
}

.modal__open--active {
  display: block;
}