.order {
  background: url(../img/order.jpg) center center / cover no-repeat;
  display: flex;
  justify-content: center;
  // align-items: center;
}



.order__form {
  display: flex;
  justify-content: space-between;
  width: rem(940);
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.order__form-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(19);
}

.order__form-houseline {
  display: flex;
  justify-content: space-between;
}

.order__form-street {
  display: block;
  margin-bottom: rem(19);
}

.order__form-text {
  width: rem(461);
  border-radius: rem(10);
}

.order__form-inputname {
  width: rem(220);
  height: rem(36);
  border-radius: rem(5);
  border: solid rem(1) #d1cfcb;
}

.order__form-inputstreet {
  width: rem(460);
  height: rem(36);
  border-radius: rem(5);
  border: solid rem(1) #d1cfcb;
}

.order__form-inputhouse {
  width: rem(100);
  height: rem(36);
  border-radius: rem(5);
  border: solid rem(1) #d1cfcb;
}

.order__form-textarea {
  width: rem(460);
  height: rem(110);
  border-radius: rem(5);
  border: solid rem(1) #d1cfcb;
  margin-bottom: rem(6);
}

.order__form-radio {
  display: none;

  &:not(:checked)+.order__form-circleradio:before {
    display: none;
  }

  &:checked+.order__form-circleradio:before {
    display: block;
  }
}

.order__form-circleradio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: rem(16);
  height: rem(16);
  border-radius: 50%;
  background-color: $white;
  margin-right: rem(10);
}

.order__form-circleradio:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(8);
  height: rem(8);
  border-radius: 50%;
  background-color: #e35028;
}

.order__form-rest {
  margin-right: rem(20);
  cursor: pointer;
}

.order__form-radi .order__form-checkboxline {
  margin-bottom: rem(20);
}

.order__form-nocallinput {
  width: rem(16);
  height: rem(16);
  margin-right: rem(9);
}

.order__form-nocall {
  display: block;
  margin-top: rem(29);
}

.btn--order {
  width: rem(97);
  margin-top: rem(14);
  margin-right: rem(20);
}



.order__form-nocallinput {
  display: none;

  &:checked+.order__form-arrowcheckbox:before {
    display: block;
  }
}

.order__form-nocall {
  cursor: pointer;
}

.order__form-arrowcheckbox {
  vertical-align: middle;
  background-color: $white;
  border: solid rem(1) #d1cfcb;
  display: inline-block;
  width: rem(16);
  height: rem(16);
  position: relative;
  margin-right: rem(9);
}

.order__form-arrowcheckbox:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icons/arrowcheckbox.png) center center no-repeat;
}