.reviews {
  font-size: 0;
  min-height: initial;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50vh;
  overflow: hidden;

  @include tablets {
    width: 50%;
    height: 25vh;
  }
}

.reviews__pic {
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  filter: grayscale(100%);
}

.reviews__item-description {
  background-color: rgba(68, 70, 70, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.reviews__item-content {
  padding: 0 rem(33) 0 rem(20);
  @include phones {
    text-align: center;
  }
}

.reviews__item-title {
  font-family: 'Gagalin', sans-serif;
  font-size: rem(14);
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: $white;
  margin-bottom: rem(30);
}

.reviews__item-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  color: $white;
  margin-bottom: rem(17);

  @include phones {
    display: none;
  }
}

.reviews__item-button {
  display: block;
  text-align: center;
  width: rem(110);
  height: rem(35);
  border-radius: rem(5);
  background-color: $gray;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(13);
  font-weight: 500;
  font-style: normal;
  line-height: rem(35);
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  @include phones {
    display: inline-block;
  }

  &:hover {
    background-color: #1f2122;
  }
}

.reviews__item:hover .reviews__item-description {
  opacity: 1;
}