.scroller {
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 10;
}

.scroller__list {
  list-style-type: none;
  padding-top: rem(10);
  margin-right: rem(-14);
}

.scroller__item {
  margin-bottom: rem(5);
}

.scroller__link {
  display: block;
  width: rem(16);
  height: rem(16);
  border: solid rem(1) transparent;
  border-radius: 50%;
  position: relative;
}

.scroller__item--active .scroller__link {
  border: solid rem(1) $white;
}


.scroller__link-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: rem(6);
  height: rem(6);
  background-color: $white;
  border-radius: 50%;
}