.team {
  position: relative;
  background: url(../img/team.jpg) center center / cover no-repeat;
}

.team__content {
  padding-top: rem(113);
  padding-left: rem(97);
  padding-right: rem(98);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba($color: #2c2f31, $alpha: 0.9);
  @include tablets {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.accordeon__item {
  @include phones {
    text-align: center;
  }
}

.accordeon__link {
  color: $yellow;
}

.accordeon__item--active .accordeon__item-description {
  height: rem(100);
  margin-bottom: rem(40);

  @include phones {
    height: 100%;
  }
}

.accordeon__link {
  font-family: 'Gagalin', sans-serif;
  font-size: rem(14);
  font-weight: normal;
  font-style: normal;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: rem(17);
  padding-left: rem(30);
  position: relative;

  @include phones {
    display: inline-block;
  }

  &:before {
    content: '';
    position: absolute;
    top: rem(6);
    left: 0;
    width: 0;
    height: 0;
    border-left: rem(7) solid transparent;
    border-right: rem(7) solid transparent;
    border-top: rem(7) solid $yellow;
  }
}

.accordeon__item--active .accordeon__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: rem(7) solid transparent;
  border-left: rem(7) solid transparent;
  border-right: rem(7) solid transparent;
  border-bottom: rem(7) solid $yellow;
}


.accordeon__item-description {
  display: flex;
  justify-content: flex-start;
  height: 0;
  overflow: hidden;

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.accordeon__item-text {
  width: rem(208);
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14);
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: $white;

  @include phones {
    width: 21rem;
    text-align: center;
  }
}

.accordeon__item-title {
  font-weight: 500;
}

.accordeon__item-img {
  flex-shrink: 0;
  width: rem(100);
  height: rem(100);
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(21);

  @include phones {
    margin-right: 0;
  }
}

.accordeon__item-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}